{{#extend "base"}}
    {{#content "title"}}
        <title>Страница пользователя</title>
    {{/content}}

    {{#content "styles"}}
        {{#if commonData.isDev}}
            <link rel="stylesheet" href="//dream-team-4.surge.sh/userPage.css">
        {{else}}
            <link rel="stylesheet" href="/userPage.css">
        {{/if}}
    {{/content}}


    {{#content "main"}}
        <div>
            <h1 id="username">
                {{commonData.user.name}}
            </h1>
        </div>

        <div id="in_process">
            <h2>В процессе</h2>
            <ul>
                {{#each quests.inprocess}}
                    <li>
                        <a href="{{url}}">{{title}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>

        <div id="finished">
            <h2>Завершенные</h2>
            <ul>
                {{#each quests.finished}}
                    <li>
                        <a href="{{url}}">{{title}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
    {{/content}}

    {{#content "scripts"}}
        <script src="/userPage.js"></script>
    {{/content}}
{{/extend}}
