<div class="row">
    <div class="place">
        <div class="thumbnail ">
            <div class="img">
                <img class="" src={{img}} alt={{title}}>
            </div>
            <div class="caption">
                <h3 class="place-title">{{title}}</h3>
                {{> comments/comments this place=true}}
                {{#if inProgress}}
                    {{#unless checkIn}}
                        <button data-name="{{quest}}#{{title}}" class="btn btn-success check-in">Check-in</button>
                    {{else}}
                        <div class="success-checkIn check-in">Вы здесь были</div>
                    {{/unless}}
                {{/if}}
            </div>
        </div>
    </div>
</div>

